.main-chat
  .group-info
    .group-info__left
      %p.group-info__left__current-group
        test
      %ul.group-info__left__member-list
        Member：
        %li.group-info__left__member-list__member-first
          sei
    = link_to '#', class: "edit-btn" do
      Edit
  .messages
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      .new-message
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        .type-message
          = f.label :image, class: 'type-message__image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'send'